<a href="https://colab.research.google.com/github/gpaldtya2002/Data-Structure-3---Tuple/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# **Data Structure 3 - Tuple**

**Learning:** How to use Tuple, add, delete, search in Tuple

**Note:** Read more about Tuple and try yourself

---
### **1. Declare Tuple**

In [15]:
# Method 1
T = ("Pratham", 'Sharma', 3.14, 3)

print ("T               -->", T)
print ("Num of elements -->", len(T))
print ("Type of Object  -->", type(T))

T               --> ('Pratham', 'Sharma', 3.14, 3)
Num of elements --> 4
Type of Object  --> <class 'tuple'>

In [16]:
# Method 2
T = tuple(["Pratham", 'Sharma', 3.14, 3])   # Convert list to tuple
#T = tuple(("Pratham", 'Sharma', 3.14, 3))  # Also Works

print ("T               -->", T)
print ("Num of elements -->", len(T))
print ("Type of Object  -->", type(T))

T               --> ('Pratham', 'Sharma', 3.14, 3)
Num of elements --> 4
Type of Object  --> <class 'tuple'>

---
### **2. Tuple Iteration**
---

In [17]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T -->", T)

i = 0
while i < len(T):
    print (T[i])
    i += 1

T --> ('Pratham', 'Sharma', 3.14, 3)
Pratham
Sharma
3.14
3

---
### **3. Tuple iteration using for loop**
---

In [18]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T -->", T)

for i in range(0, len(T)):
    print (T[i])

T --> ('Pratham', 'Sharma', 3.14, 3)
Pratham
Sharma
3.14
3

---
### **4. Tuple iteration using for loop**
---

In [19]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T -->", T)

for s in T:
    print (s)

T --> ('Pratham', 'Sharma', 3.14, 3)
Pratham
Sharma
3.14
3

---
### **5. Accessing/Selecting in Tuple**
---

In [20]:
# Example 1:
T = (3, 6, 9, 12, 5, 3, 2)
print ("T     -->", T)

print ("T[1]  -->", T[1])
print ("T[2]  -->", T[2])
print ("T[-1] -->", T[-1])
print ("T[-2] -->", T[-2])

T     --> (3, 6, 9, 12, 5, 3, 2)
T[1]  --> 6
T[2]  --> 9
T[-1] --> 2
T[-2] --> 3

In [21]:
# Example 2:
T = (3, 6, 9, 12, 5, 3, 2)
print ("T        -->", T)

print ("T[1:3]   -->", T[1:3])
print ("T[2:]    -->", T[2:])
print ("T[2:5]   -->", T[2:5])
print ("T[:2]    -->", T[:2])
print ("T[:-1]   -->", T[:-1])
print ("T[-4:-1] -->", T[-4:-1])

T        --> (3, 6, 9, 12, 5, 3, 2)
T[1:3]   --> (6, 9)
T[2:]    --> (9, 12, 5, 3, 2)
T[2:5]   --> (9, 12, 5)
T[:2]    --> (3, 6)
T[:-1]   --> (3, 6, 9, 12, 5, 3)
T[-4:-1] --> (12, 5, 3)

---
### **6. Sum/Average of Tuple**
---

In [22]:
T = (3, 6, 9, 12, 5, 3, 2)
print ("T       -->", T)
print ("Sum     -->", sum(T))
print ("Average -->", sum(T)/len(T))
print ("Average -->", sum(T)//len(T))

T       --> (3, 6, 9, 12, 5, 3, 2)
Sum     --> 40
Average --> 5.714285714285714
Average --> 5

---
### **7. Min/Max in Tuple**
---

In [23]:
# Example 1
T = (3, 6, 9, 12, 5, 3, 2)                # Integer Tuple
print ("T   -->", T)
print ("Max -->", max(T))
print ("Min -->", min(T))

T   --> (3, 6, 9, 12, 5, 3, 2)
Max --> 12
Min --> 2

In [24]:
# Example 2
T = ("Ram", "Shyam", "Human", "Ant")      # String Tuple
print ("T   -->", T)
print ("Max -->", max(T))
print ("Min -->", min(T))

T   --> ('Ram', 'Shyam', 'Human', 'Ant')
Max --> Shyam
Min --> Ant

---
### **8. Merging Tuples**
---

In [25]:
T1 = (3, 6, 9)
T2 = (12, 5, 3, 2)

print ("T1 -->", T1)
print ("T2 -->", T2)

T3 = T1 + T2
print ("T3 -->", T3)

T4 = T1 + T2 + T1 + T2
print ("T4 -->", T4)

T1 --> (3, 6, 9)
T2 --> (12, 5, 3, 2)
T3 --> (3, 6, 9, 12, 5, 3, 2)
T4 --> (3, 6, 9, 12, 5, 3, 2, 3, 6, 9, 12, 5, 3, 2)

---
### **9. Merging part of Tuples**
---

In [26]:
T1 = (3, 6, 9)
T2 = (12, 5, 3, 2)

print ("T1 -->", T1)
print ("T2 -->", T2)

T3 = T1[1:2] + T2[1:3]
print ("T3 -->", T3)

T4 = T1[:-2] + T2[:-3]
print ("T4 -->", T4)

T1 --> (3, 6, 9)
T2 --> (12, 5, 3, 2)
T3 --> (6, 5, 3)
T4 --> (3, 12)

---
### **10. Searching in the tuple**
---

In [27]:
T = (3, 6, 9, 12, 5, 3, 2)
print ("T       -->", T)

print ("6  in T -->", 6 in T)
print ("10 in T -->", 10 in T)
print ("12 in T -->", 12 in T)

T       --> (3, 6, 9, 12, 5, 3, 2)
6  in T --> True
10 in T --> False
12 in T --> True

---
### **11. Adding element to Tuple (Error)**
---

In [28]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T -->", T)

T[2] = 900               # Error; 'tuple' object does not support item assignment
print ("T -->", T)

#Tuples are unchangeable. We cannot add items to it.

T --> ('Pratham', 'Sharma', 3.14, 3)

TypeError: ignored

---
### **12. Adding element to Tuple - (Jugaad)**
---

In [29]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T         -->", T)

T1 = list(T)
T1.append(9.8)
T = tuple(T1)

print ("After Add -->", T)

T         --> ('Pratham', 'Sharma', 3.14, 3)
After Add --> ('Pratham', 'Sharma', 3.14, 3, 9.8)

---
### **13. Inserting element in Tuple - (Jugaad)**
---

In [30]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T            -->", T)

T1 = list(T)
T1.insert(2, "Rahul")
T = tuple(T1)

print ("After Insert -->", T, "\n", type(T))

T            --> ('Pratham', 'Sharma', 3.14, 3)
After Insert --> ('Pratham', 'Sharma', 'Rahul', 3.14, 3)
 <class 'tuple'>

---
### **14. Deleting from Tuple (Error)**
---

In [31]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T            -->", T)

del T[1]

print ("After Delete -->", T)

T            --> ('Pratham', 'Sharma', 3.14, 3)

TypeError: ignored

---
### **15. Deleting from Tuple - (Jugaad)**
---

In [32]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T            -->", T)

T1 = list(T)
del T1[1]
T = tuple(T1)

print ("After Delete -->", T)

T            --> ('Pratham', 'Sharma', 3.14, 3)
After Delete --> ('Pratham', 3.14, 3)